header{
    display: flex;
    justify-content: space-between;
    margin: 40px auto 60px;
    width: calc(100% - 100px);
}

@media screen and (max-width:600px){
    header{
        margin: 20px auto 20px;
        width: 95%;
    }
}