.appartement{
    width: 340px;
    height: 340px;
    position: relative;
    background-size: cover!important;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;

    .titre{
        max-width: 280px;
        word-break: break-word;
        position: absolute;
        bottom: 20px;
        left: 10px;
        text-align: start;
        margin-left: 20px;
        font-weight: 500;
        color: white;
        z-index: 2;
        size: 18px;
        height: 40px;
    }
}
.appartement::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 58%, rgb(34 34 34) 100%);
    border-radius: 10px;
}



@media screen and (max-width:600px){
    .appartement{
        width: 100%;
        height: 340px;
        margin: 10px 0px;
    }
}