
.logement-list{
    display: flex;
 /*    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 5%;
    row-gap: 30px;
    justify-self: stretch;
    height: 100%; */
    flex-wrap: wrap;
    margin: 30px;
    justify-content: center;
}


@media screen and (max-width:600px){
    .logement-list{
        display: flex;
        flex-direction: column;
        margin: 10px 0px;
    }
}