.navigation{
    display: flex;
    align-items: center;
    line-height: 22px;
}
.navigation a {
    margin: 0 25px;
    color: $main-color;
    line-height: 22px;
    position: relative;
}

.navigation a {
    position: relative;
}
.navigation a::before {
    position: absolute;
    content: '';
    height: 1px;
    width: 0%;
    bottom: 0;
    background-color: $main-color;
 }
 .navigation a.active::before {
    position: absolute;
    content: '';
    height: 1px;
    width: 100%;
    bottom: 0;
    background-color: $main-color;
    animation-name: big;
    animation-duration: 0.250s;
    animation-fill-mode:forwards;
 }

 @keyframes big{
    from{
        width: 0%;
    } 
    to{
        width: 100%;
    }
 }




@media screen and (max-width:900px){
    .navigation{
        align-items: center;
        margin-top: 0px;
        justify-content: space-between;
        min-width: 180px;
        a {
        margin:  15px 5%;
        height: 34px;
        font-size: 16px;
        }
    }
}

@media screen and (max-width: 600px){
    .navigation{
        a {
        height: 25px;
        margin:  15px 1%;
        }
    }
}


@media screen and (max-width:450px){
    .navigation{
        min-width: 150px;
    }
}

