.wrapper-logement-details{
    margin-top: 30px;
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    .wrapper-container{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .accordeon{
            text-align: start;
            width: 49%;
            min-width: 390px;
            .about-Details{
                display: flex;
                justify-content: space-between;
                height: 52px;
                background-color: $main-color;
                color: white;
                text-align: center;
                border-radius: 10px;
                padding-right: 2%;
                padding-left: 2%;
                align-items: center;
                margin-bottom: 30px;
                flex-wrap: wrap;
                
            }
        }    
    }
}

.description-text-accordeon{
    padding-right: 5px;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    li{
       padding-bottom: 5px;
    }
}


@media screen and (max-width:980px){
    .wrapper-logement-details{
        display: flex;
        justify-content: center;
        .wrapper-container{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .accordeon{
                text-align: start;
                width: 100%;
                margin-top: 30px;
                margin-bottom: 30px;
                .about-Details{
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    padding-right: 2%;
                    padding-left: 2%;
                    margin-bottom: 30px;
                }
            }    
        }
    }
}



@media screen and (max-width:600px){
 
    .wrapper-logement-details{
        min-height: 150px;
        .wrapper-container{
            .accordeon{
                min-width: initial;
                margin-top: 10px;
                margin-bottom: 10px;
                .about-Details{
                    height: 30px;
                    font-size: 13px;
                }
            }    
        }
    }
    
    .description-text-accordeon{
        padding-right: 5px;
        padding-left: 0px;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        background-color: $background-color;
        p{
            font-size: 12px;
        }
        li{
           padding-bottom: 5px;
        }
    }
 
}