.background-home{
    position: relative;
    height: 223px;
    background-size: cover!important;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center!important;
    .slogan-home{
        color: white;
        font-weight: 500;
        font-size: 48px;
        z-index: 2;
    }
}
.background-home::before{
    position: absolute;
    content: "";
    width: 100%;
    border-radius: 25px;
    background-color: #00000069;
    height: 100%;
}


@media screen and (max-width:600px){
    .background-home{
        height: 110px ;
        margin-bottom: 0px;
        border-radius: 15px;
        .slogan-home{
            width: 80% ;
            text-align: left;
            font-size:24px;
        }
    }

    .background-home::before{
        border-radius: 15px;
    }

}